.profile-image {
    max-width: 100%;
    height: auto;
}

.about-text {
    font-size: 1.2em;
}


.btn-outline-primary {
    color: #1A73E8;
    background-color: transparent;
    background-image: none;
    border-color: #1A73E8
}

.btn-outline-primary:hover {
    color: white;
    background-color: #1A73E8;
    border-color: #1A73E8
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}
